$magentacolor = #ec008c


.header
  background $magentacolor
  &-mobile
    padding .7em
    a
      font-weight bold
      font-family HUGE Avant Garde Bold
      text-decoration none
      .botonx
        position absolute
        right 10px
  &-menu-icon
    color white
    &-textHuge
      display none
.header-menu-navbar
  left -500px
  font-family HUGE
  background white
  position absolute
  height 100vh
  width 70%

  transition transform 1s ease-out
  -webkit-transition -webkit-transform 1s ease-out

  span
    position absolute
    font-size .7em
    font-family Helvetica Neue Regular
    margin 0 1em
    bottom 2em
  .header-menu-list--show
    .header-menu-list-item
      list-style none
      margin 1em .9em
      height auto
      a
        text-decoration none
        font-weight bold
        color black
        i
          color $magentacolor
          position absolute
          right 15px
      &-subitem
        display none
        list-style none
        font-size 0.7em
        margin 1em 0 1em
        a
          color black
          display block
          margin-bottom .8em
          text-decoration none
    .header-menu-list-item:hover
      background lightgray

@media (max-width:767px)
  .header
    &-mobile
      .header-menu-icon
        span
          display none
        i
          display inline-block

@media (min-width:768px)
  .header
    &-mobile
      .header-menu-icon
        i
          display none
        span
          display inline-block
  .header-menu-navbar
    height 0
    left 0
    width 100vh
    font-family Galaxie Copernicus Book
    span
      display none
    .header-menu-list--show
      position absolute
      left 100px
      top -53px
      width 300vh
      .header-menu-list-item
        display inline-block
        padding .5em .5em
        a
          color white
          font-weigh bold
      .header-menu-list-item:hover
        background white
        a
          color $magentacolor
  .container
    .container-text
      h1
        font-size 6em
        color white
        position absolute
        top 2em
      p
        margin 1em 3em
    &-image
      img
        height 80vh
